
@import "tailwindcss";
@import '@fortawesome/fontawesome-free/css/all.min.css';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

.swiper-pagination-bullet {
  background-color: #d1d5db !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-color: #facc15 !important;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glow {
  0% {
    transform: translateX(-80%);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: translateX(20%);
    opacity: 0;
  }
}

.animate-glow {
  animation: glow 2.5s infinite linear;
}

@keyframes bgMove {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

/* สำหรับการไล่สีพื้นหลัง */
.header {
  background: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.9));
}

html {
  scroll-behavior: smooth;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

html {
  scroll-behavior: smooth;
}

.animate-float {
  animation: float 3s ease-in-out infinite;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fadeInUp 2s ease-out forwards;
}

@keyframes shine {
  0% {
    background-position: -200%;
  }
  100% {
    background-position: 200%;
  }
}

@keyframes elegantShine {
  0% {
    background-position: -150%;
  }
  100% {
    background-position: 150%;
  }
}

@keyframes rainbowShine {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

.rainbow-text {
  background: linear-gradient(
    270deg,
    #ff0080,
    #ff8c00,
    #40e0d0,
    #8a2be2,
    #ff0080
  );
  background-size: 400% 400%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  animation: rainbowShine 8s ease infinite;
}





